@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
}

.homepage {
  position: fixed;
  background-image: url('./images/doghotel.jpg');
  background-position: center;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.70;
}

.main-section {
  text-align: center;
  margin-top: 295px;
}

.newpet-form {
  background-color: lightgray;
  width: 250px;
  height: 250px;
  border-radius: 0.5em;
  margin: 0 auto;
  border: 2px black;
  padding: 10px;
  text-align: center;
  margin-top: 100px;
}

.newbooking-form {
  background-color: lightgray;
  width: 250px;
  height: 250px;
  border-radius: 0.5em;
  margin: 0 auto;
  border: 2px black;
  padding: 10px;
  text-align: center;
  margin-top: 100px;
}



.post-card {
  border-radius: 1.5em;
  -webkit-border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  -ms-border-radius: 1.5em;
  -o-border-radius: 1.5em;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

