@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
}

.homepage {
  position: fixed;
  background-image: url('./images/doghotel.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: none;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logos {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  opacity: 0.7;
}

.apple-logo {
  padding: 0;
  width: 200px;
  height: 260px;
}

.fb-logo {
  padding-top: 1.5em;
  width: 300px;
  height: 300px;
  padding-left: 20px;
}

.newpet-form {
  background-color: lightgray;
  width: 250px;
  height: 250px;
  border-radius: 0.5em;
  margin: 0 auto;
  border: 2px black;
  padding: 10px;
  text-align: center;
  margin-top: 100px;
}

.newbooking-form {
  background-color: rgba(0,0,0, 0.3);
  width: 75%;
  height: 80%;
  border-radius: 0.5em;
  margin: 20px auto;
  border: 2px black;
  padding: 10px;
  text-align: center;
  color: white;
  box-sizing: border-box;
}

input {
  color: black !important;
}

select {
  color: black;
}

#booking-button {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1em;
  color: white;
  border: 1px solid white;
}

.post-card {
  border-radius: 1.5em;
  -webkit-border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  -ms-border-radius: 1.5em;
  -o-border-radius: 1.5em;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer {
  margin-bottom: 5px;
}

.modal {
  background-image: url('./images//couchdog.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  top: 30%;
  left: 20%;
  position: fixed;
  z-index: 9999;
  width: 60vw;
  height: 50vh;
  margin: auto;
  background-color: white;
  border-radius: 1em;
}

.modal-background {
  height: 100%;
  width: 100%;
  position: fixed;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9998;
}

.hide-modal {
  display: none;
}

.home-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  position: relative;
}

.pet-card {
  display: flex;
  justify-content: space-between;
  background-color: rgba(70, 109, 131, 0.3);
  color: white;
  width: 90%;
  height: 40%;
  border: black 2px solid;
  border-radius: 1em;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  margin-left: 15px;
  padding: 1em;
  margin-bottom: 5px;
  box-shadow: lightgrey 1px 1px 1px;
}

.pets-page {
  padding: 2em;
  background: rgb(227,230,231);
background: linear-gradient(158deg, rgba(227,230,231,1) 9%, rgba(204,219,226,1) 42%, rgba(245,243,243,1) 81%);
  height: 100vh;
}

.booking-card {
  border: 1px solid black;  
  border-radius: 1em;
  padding: 4px;
  margin: 2px;
  background-color: rgba(0, 0, 0, 0.6);
}

#bookings-list {
  background-image: url('./images/funnydog.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.fidos-partners {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-top: 450px;
}

#puppygangpic {
  position: absolute;
  width: 200px;
  height: 200px;
  opacity: rgba(0, 0, 0, 0.7);
  align-items: center;
  justify-content: center;
  align-content: center;
  margin-left: 45px;
}

.login-form {
  background-color: rgba(0,0,0, 0.3);
  width: 70%;
  height: 70%;
  margin: 60px auto;
  border-radius: 0.5em;
  border: 2px black;
  padding: 10px;
  text-align: center;
  color: white;
  display: block;
}

.login-form l

.profile-container {
  background-image: url()
}


.editbooking-page {
  position: fixed;
  background-image: url('./images/doxie.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.edit-booking {
  background-color: rgba(0,0,0, 0.3);
  width: 60%;
  height: 40%;
  border-radius: 0.5em;
  margin: 20px auto;
  border: 2px black;
  padding: 10px;
  text-align: center;
  color: white;
}

.sign-up-page {
  height: 100vh;
  width: 100vw;
  background-image: url('./images/husky.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: fixed;
}

.sign-up-form {
  background-color: rgba(0,0,0, 0.3);
  width: 60%;
  height: 40%;
  border-radius: 0.5em;
  margin: 200px auto;
  border: 2px black;
  padding: 10px;
  text-align: center;
  color: white;
}

.newpet-form {
  background-color: rgba(0,0,0, 0.3);
  width: 60%;
  height: 40%;
  border-radius: 0.5em;
  margin: 200px auto;
  border: 2px black;
  padding: 10px;
  text-align: center;
  color: white;
  justify-content: center;
  align-items: center;
}

.newpet-page {
  background-image: url('./images/pellegrinodog.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: fixed;
  height: 100vh;
  width: 100vw;
}

textarea {
  color: black;
}